*{
    box-sizing: border-box;

}

.ligne{
    display: flex;
    justify-content: center;
}
.touche{
    width:3em;
    height: 3em;
    padding: 1em;
    text-align: center;
    background-color: #888;
    color: #3F61A6;
    font-size: 1em;
    margin: 0.5em;
    border-radius: 6px;

}